{% extends 'base.html' %}
{% load tz %}
{% block content %}
  <div class="container-sm">
    <p>The page is made for scraping content from sites. This determines the updates to the site</p>
    <p>It will be updated <b>every 10 minutes automatically</b> to parse data. Use the link below to make the parse right now.</p>
    {% if updateList %}
      {% for update in updateList %}
        <h4>Updated {{update}}</h4>
      {% endfor %}
    {% else %}
      <h4>No Updates</h4>
    {% endif %}
    {% timezone "Asia/Kolkata" %}
    <small>Last Updated at {% now "SHORT_DATETIME_FORMAT" %} </small>
    {% endtimezone %}
    <h1><a href="{% url 'aggregator' %}" class="btn btn-outline-info mb-4">Update Now</a></h1>
  </div>
  <script>
    setTimeout(function(){
      window.location.reload(1);
    }, 1000 * 60 * 10);
  </script>
{% endblock content %}