<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batch 7 - News Aggregator</title>
</head>
<body>
  <header>
  <div class="nav-left">
  <a href="{% url 'home' %}">News Aggregator</a></header>
  </div>
  <div class="nav-right">
  {% if user.is_authenticated %}
    <p>Hello 
      <a href="{% url 'logout' %}">{{ user.username.title }}</a>
    </p>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
  </div>
  <div>
  {% block content %}
  {% endblock content %}
  </div>
</body>
</html>